.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  margin-bottom: .75rem;
}

.card-title {
  margin: 0;
}

.card-subtitle {
  margin: 0;
}

.card-content {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  height: 4rem;
  margin-top: .25rem;
}
